a:hover, a:visited, a:link, a:active {

  text-decoration: none!important;

  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  color: inherit
}

.custom-center {
  text-align: center; 
}