a:hover, a:visited, a:link, a:active {

  text-decoration: none!important;

  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  color: inherit
}

.custom-padding {
  padding-top: 20px
}

#loading {
  height: 100vh;
  text-align: center;
  padding-top: 10vh
}